<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HTML Form with Nav Bar</title>
<link rel="stylesheet" href="style.css">

</head>
<body>

{{>nav}}

<div class="form-container">
  <form action="/register" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="confirm_password">Confirm Password:</label><br>
    <input type="password" id="confirm_password" name="confirmPassword" required><br>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
